@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background-color: var(--background);
    background-image: url("../../public/images/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.gradient-color {
    @apply from-amber-50 to-amber-400
}

.gradient-text {
    @apply bg-gradient-to-b text-transparent bg-clip-text gradient-color
}

.constantia {
    @apply font-[family-name:var(--font-constantia)]
}

.constantia-bold {
    @apply font-[family-name:var(--font-constantia-bold)]
}